 <div class='exchange_box col-sm-12'>
  <div class='card'>

    <div class='card-header text-center'>
      Converta em Bitcoin
    </div>

    <div class='card-block'>
      <%= form_tag('/bitcoins', method: :get, id: 'bitcoins_form') do %>
        <div class='local_currency'>
          
          <div class='form-group'>
            <p class='title'>Quero converter</p>
            <input type='number' name='amount_btc' id='amount_btc' class='form-control' placeholder='Quantidade ($10)' step='any' required>
          </div>

          <div class='form-group'>
            <p class='title'>De</p>
            <%= select_tag 'source_currency', options_for_select(bitcoin_list, 'BTC'), class: 'form-control', id: 'source_currency_btc' %>
          </div>
          
        </div>

        <div>
          <%= button_tag image_tag('/exchange.png'), type: 'button', class: 'img-fluid icon-exchange', id: 'btn-exchange-btc' %>
        </div>

        <div class='destination_currency'>
          <div class='form-group'>
            <p class='title'>Para</p>
            <%= select_tag 'target_currency', options_for_select(bitcoin_list, 'BRL'), class: 'form-control', id: 'target_currency_btc' %>
          </div>
          
          <div class='form-group'>
            <input type='text' id='result_btc' name='result_btc' class='form-control' placeholder='Resultado' readonly>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> 